:root {
    --clr-primary: hsl(0, 100%, 50%);
    --clr-semi-primary: hsl(0, 100%, 30%);
    --clr-secondary: hsl(0, 0%, 12%);
    --ff-primary: 'Anybody', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-primary-heading: 3rem;
    --fs-secondary-heading: 2rem;
    --fs-h3-heading: 1.2rem;
    --fs-paragraph: 1rem;
    --fs-button: 1rem;
    --fs-link: 1.1rem;

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 5rem;
    --size-900: 5rem;
}

/* hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

/* second section */
.second-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.items {
    display: flex;
    gap: 2rem;
}

.item {
    width: 300px;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 16px;
}

/* products section */
/* filter menu */
.product-nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.menu-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.listing-style {
    display: flex;
    gap: 1.2rem;
    font-size: 1.2rem;
    color: var(--clr-primary);
}

.listing-style i {
    transition: .5s;
    padding: 4px 8px;
    border-radius: 8px;
}

.listing-style i:hover {
    background: var(--clr-primary);
    color: #fff;
}

.search-bar input {
    color: var(--clr-secondary);
    border: 3px solid var(--clr-primary);
    border-radius: 100vmax;
    padding: .6em 2.5em;
    background: #fff;
    box-shadow: 0 1.125em 1em -1em var(--clr-semi-primary);
    transition: .5s ease;
}

/* cards */
.card {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 8px;
    border-radius: 32px !important;
    max-width: 400px !important;
    transition: .5s ease;
}

.card:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, .3);
}

.card-img-top {
    border-radius: 32px !important;
    height: 250px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 4px;
}

.price-btn {
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--clr-secondary);
    border: 3px solid var(--clr-primary);
    border-radius: 32px;
    padding: 4px 8px;
    box-shadow: 0 1.125em 1em -1em var(--clr-semi-primary);
    transition: .5s ease;
}

.price-btn.active,
.price-btn:hover {
    background: var(--clr-primary);
    color: #fff;
    font-size: var(--fs-button);
}

.price {
    color: var(--clr-primary);
}

.price span {
    color: #8C8080;
    font-weight: var(--fw-regular);
}


.pagination-item a {
    border: 2px solid var(--clr-primary);
    color: var(--clr-primary);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.active-page,
.pagination-item a:hover {
    color: #fff !important;
    background: var(--clr-primary);
}

/* cards media query */
@media (min-width: 992px) {
    .cards.row .card {
        flex: 1 0 calc(33.333% - 1rem);
    }
}

/* details page */

.details-section .main-img {
    background: var(--clr-primary);
    border-radius: 10px;
    width: 100%;
}

.second-img img {
    height: 135px;
}

.car-name img {
    width: 80px;
}

.car-name span {
    font-size: 12px;
}

.primary-gray {
    color: #596780;
}

.light-gray {
    color: #90A3BF;
}


/* .carda {
    background-color: wheat;
    box-shadow:;
} */
.button-remove{
    cursor: pointer;
    border-radius: 100vmax;
    border: 3px solid var(--clr-primary);
    padding: 0.3em 2em;
    color: var(--clr-secondary);
    background: #fff;
   
  }



 .list {
    top: 0;
    right: -100% !important;
    transition: 600ms;
    background-color: var(--clr-secondary);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow-y: auto;
 }

 .list.active {
    right: 0 !important;
 }


.incart {
    width: 100%;
    height: 8rem;
    list-style: none !important;
    color: white;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

/* .intwocart {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
} */
/* 
 */
.intwocart .pricecart {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0;
}
/* .intwocart .botons button {
    background-color: red;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 100px;
    color: white !important;
} */
.incart {
    padding: 5rem 0;
    width: 90%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.incart img {
    width: 10rem;
    height: fit-content;
}


.boton-rent-custom {
    background-color: white !important;
    font-weight: bold !important;
    transition: 600ms;
    line-height: 1;
  color: var(--clr-secondary);
  background: #fff;
  box-shadow: 0 1.125em 1em -1em var(--clr-semi-primary);
  transition: .5s ease !important;
  border: 3px solid var(--clr-primary);
}
.boton-rent-custom a {
    color: var(--clr-secondary);
    transition: .5s ease !important;
}

.boton-rent-custom:hover {
    background-color: red !important;
    color: white !important;
}
.boton-rent-custom:hover a {
    color: white !important;

}

.customize > a {
    pointer-events: none;
}
